@media (min-width: 980px) {
    body {
        /*padding-top: 60px;*/
        color: #5a5a5a;
    }
    .carousel img {
        min-width: 100%;
        height: 500px;

    }
    @font-face {
        font-family: cool_font;
        src: url('Precious.ttf');
    }
    .cool-cursive{
        font-family: cool_font;
        color: #000000;
    }


}
