
    body {
        /*padding-top: 60px;*/

        background: #000 ;
    }
    .navbar .nav,
    .navbar .nav > li {
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
        *zoom:1; /* hasLayout ie7 trigger */
        vertical-align: top;
    }

    .navbar-inner {
        text-align:center;
    }

    /*carousel*/
    .carousel img {
        min-width: 100%;
        height: 500px;

    }

    .carousel-caption img{
        min-width: 10%;
        width: 50%;
        height: 50%;
        margin-left: 50%;

    }


    @font-face {
        font-family: cool_font;
        src: url('Precious.ttf');
    }
    .cool-cursive{
        font-family: cool_font;
    }
    .carousel-body{
        background: none;
        padding-bottom: 100px;
    }
    .copy {
        border-radius: 8px;
        opacity: 0.5;
        filter: alpha(opacity=50);
        padding: 10px;
        text-align: justify;
        background: #333333;


    }
    /*home page*/
    .pretty-text {
        font-size: 18pt;
    }
.section1{

    margin-left: -22%;

}
